
<div class="bootbox modal fade in" tabindex="-1" role="dialog" aria-hidden="false" id="enviarEmail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Enviar Recibo</h3>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">
                    <section class="content" style="margin-bottom: 10px; padding-bottom: 10px;">
                        <div class="box">
                            <div class="row">
                                <div class="col-sm-12 col-lg-12 col-md-12">
                                    <form action="" role="form" target="imprimir-recibo" id="MovimentacoesFinanceiraImprimirReciboForm" method="post" accept-charset="utf-8" _lpchecked="1">
                                        <div style="display:none;" wfd-invisible="true">
                                            <input type="hidden" name="_method" value="PUT">
                                        </div>
                                        <input type="hidden" name="imprimir" value="1" autocomplete="off" id="MovimentacoesFinanceiraImprimir" wfd-invisible="true">
                                        <div class="required form-group col-sm-6 col-lg-6 col-md-6">
                                            <label for="ReciboNome">Nome do Cliente</label>
                                            <input name="nome" maxlength="100" value="" required="required" class="required form-control" autocomplete="off" type="text" id="ReciboNome" placeholder="">
                                        </div>
                                        <div class="required form-group col-sm-6 col-lg-6 col-md-6">
                                            <label for="ReciboPlano">Plano de Contas</label>
                                            <input name="plano" maxlength="30" value="" required="required" class="required form-control" autocomplete="off" type="text" id="ReciboPlano" placeholder="" readonly>
                                        </div>
                                        <div class="required form-group col-sm-6 col-lg-6 col-md-6">
                                            <label for="ReciboData">Data do pagamento</label>
                                            <input name="data" maxlength="10" value="" required="required" class="required datepicker mascara-data form-control" autocomplete="off" type="text" id="ReciboData" placeholder="">
                                        </div>
                                        <div class="required form-group col-sm-6 col-lg-6 col-md-6">
                                            <label for="ReciboValorTotal">Valor</label>
                                            <input name="valor" required="required" class="mascara-valor required form-control" autocomplete="off" type="text" value="" id="ReciboValorTotal" placeholder="">
                                        </div>
                                        <div class="col-sm-12 col-lg-12 col-md-12 required">
                                            <label for="ReciboDescricao">Descrição</label>
                                            <textarea name="descricao" class="form-control" autocomplete="off" cols="30" rows="6" id="ReciboDescricao" required="required"></textarea>
                                        </div>
                                        <div class="col-sm-12 col-lg-12 col-md-12"> <hr> </div>
                                        <div class="form-group col-sm-6 col-lg-6 col-md-6">
                                            <label for="Email">E-mail</label>
                                            <input name="plano" maxlength="30" value="" class="form-control" autocomplete="off" type="text" id="email" placeholder="" readonly>
                                        </div>
                                        <div class="form-group col-sm-6 col-lg-6 col-md-6">
                                            <label for="Telefone">Número Telefone</label>
                                            <input name="telefone" maxlength="30" value="" class="form-control" autocomplete="off" type="text" id="telefone" placeholder="" readonly>
                                        </div>

                                        <div class="form-group col-sm-6 col-lg-6 col-md-6 margin-top-10px">
                                            <button class="btn btn-primary" type="submit">
                                                <span class="glyphicon glyphicon-envelope margin-right-10px"></span>Enviar notificação
                                            </button>
                                            <a href="javascript:parent.bootbox.hideAll();" class="btn btn-danger">
                                                <span class="glyphicon glyphicon-remove margin-right-10px"></span>Cancelar
                                            </a>
                                        </div>
                                        <div class="form-group col-sm-6 col-lg-6 col-md-6 margin-top-10px">
                                            <button class="btn btn-secondary float-right margin-right-10px" type="submit">
                                                <span class="glyphicon glyphicon-envelope margin-right-10px"></span>Enviar via e-mail
                                            </button>
                                            <button class="btn btn-secondary float-right margin-right-10px" type="submit">
                                                <span class="glyphicon glyphicon-envelope margin-right-10px"></span>Enviar via whatsapp
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>